@import 'tailwindcss';


html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background: #d0d0d0;
    font-family: system-ui;
}

 .layout-wrapper {
     display: grid;
     grid-template-rows: auto 1fr auto;
     width: 100%;
     max-width: 428px;  /* Picked a set width that is of the measurements to most standard phone screens */
     min-height: 100vh;
     background: white;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    color: white;
    padding: 1rem;
}

.logo {
    height: 40px;
    margin-bottom: 1rem;
}

.navigation {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background: rgb(139, 21, 21);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button.active {
    background: #555;
    color: white;
}

main {
    padding: 0.5rem;
    background: #f4f4f4;
    overflow-y: auto;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;
}

